.Container-page3 {
    height: fit-content;
    background-color: #F5F5F5;
}

.header-page3 {
    display: flex;
    background-color: #F5F5F5;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    justify-content: space-between;
}

.title-page3 {
    font-size: 35px;
    color: #01003a;
}

.link-container-page3 {
    display: flex;
    font-size: 20px;
    gap: 30px;
}

.links-page3 {
    text-decoration: underline;
    color: rgb(55, 55, 55);
}

.access-button-page3 {
    height: 60px;
    width: 120px;
    color: #4DA0FD;
    border: 2px solid #0077ff6b;
    border-radius: 4px;
    cursor: pointer;
}

.body-page3 {
    padding-left: 10%;
    padding-right: 10%;
}

.blog-page3 {
    font-size: 40px;
}

.para-page3 {
    color: gray;
}

.card-page3 {
    display: grid;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr;
}

.image-page3 {
    width: 100%;
    height: 250px !important; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box1-page3 {
    width: 100%;
}

.box2-page3 {
    width: 100% !important;
}

.box3-page3 {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.ux-page3 {
    padding-left: 20px;
    padding-right: 20px;
}

.deep-page3 {
    padding-left: 30px;
    padding-right: 30px;
}

.username-page3 {
    color: gray;
}

.pfp-page3 {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 10px;
}

.cardud-page3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px
}
.point-button {
    width: 100px;
    height: 30px;
    margin-left: 45%;
    margin-top: 2%;
    background-color: rgb(212, 212, 212);
    color: rgb(98, 98, 98);
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
.footer-page3 {
    margin-top: 30px;
    height: 40vh;
    background-color: #252B3B;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 2fr 3fr;
}
.grid1-page3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-title-page3 {
    color: white;
}
.social-page3    {
    color: white;
    font-size: 25px;
    padding-left: 5px;
}
.logo-page3 {
    width: 25px; 
    height: 23px;
}
.grid2-page3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.jobs-page3 {
    color: white;
    font-size: 20px;
}
.jobs-title-page3 {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}
.sub-page3 {
    color: white;
    margin-left: 10%;
    margin-top: 10%;
}
.input-page3 {
    margin-left: 10%;
    width: 300px;
    height: 40px;
}
.input-page3::placeholder {
    color: rgb(0, 211, 211);
    font-size: 17.5px;
}
.add-page3 {
    width: 50px;
    height: 46px;
    cursor: pointer;
    border: 0px;
    color: white;
    background-color: #1338BE;
}